header#masthead
{
    margin: 0;
    height: 100px;
    background-color: #fff;
    padding: 10px 0 30px 10px;
}

header h1 {
    background: url('/site_media/img/banner.jpg') 0 0 no-repeat;
    height: 100px;
    width: 669px;
}
header h1 a {
    display: block;
    height: 100px;
    width: 669px;
}
header h1 a span {
    display: none;
}
header h4 { display: none; }
html { height: 100%; }

body
{
    background-color: #eee;
    height: 100%;
}

body > .container
{
    background-color: transparent;
    /*min-height: 100%;*/
}

#content { min-height: 100%; }
.navbar-top { margin-bottom: 0px; }

#primarynav .navbar-inner
{
    background-color: blue;
    background-image: none;
}

#primarynav li.active a
{
    background-color: #8ae;
    color: black;
}

#primarynav a
{
    color: white;
    background-color: #679;
}

#primarynav a:hover { color: blue; }
.controls textarea { width: 90%; }
.item-feedback { display: none; }
.casequestion input[type="radio"] { margin: 3px 3px 3px 0px; }
.casequestion form li { cursor: pointer; }

.big-modal
{
    width: 940px;
    margin-left: -470px;
    max-height: 600px;
    margin-top: -300px;
}

#greeting-login {
    margin-right: 20px;
}

#welcome {
    float: left;
    width: 600px;
    margin: 0 50px 0 0;
}

#user_log_in
{
    width: 250px;
    float: left;
    margin: 0;
}

/* CSS overide special for PHTC */

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: auto;
    width: 960px;
}

.content {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#dashboard-toc {
    margin: 0 20px 0 0;
    padding: 0;
}

#modules {
    float: left;
    width: 510px;
    margin: 0;
}

.module {
	border-bottom: 1px dotted #ccc;
	line-height: 26px;
	padding-right: 15px;
}

#modules .active {
    background: url("../img/toc-arrow.png") right center no-repeat;
}

#return {
    width: 400px;
    float: left;
    margin: 0;
}

.errornote {
    background: url("../img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
    border: 1px solid #C00;
    display: block;
    font-size: 11px;
    line-height: 120%;
    margin: 10px 0 10px 0;
    padding: 5px 5px 5px 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.errornote span {
    color: #cc0000;
}

h3.log_in { color: #777; }

p.smalltxt
{
    margin: 10px 0 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
}

.footer {
    display: block;
    clear: both;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 960px;
    background-color: #ffffff;
}

.footer p {
    text-align: center;
    font-weight: bold;
}

.footer ul {
    list-style: none;
    text-align: center;
    padding-top: 12px;
}

.footer ul li{
    display: inline;
    margin: 10px;
}

h1 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

.navbar {
    height: 30px;
    margin-bottom: 10px;
}

.navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar .nav {
    float: left;
    width: 460px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .brand {
    margin: 0;
    padding-left: 23px !important;
    background: url('/site_media/img/icon_home.png') 0 11px no-repeat;
}

.navbar .usernav {
    float: left;
    width: 479px;
    line-height: 40px;
    text-align: right;
}

.no-left-sidebar #sidebar,
.no-left-sidebar #sidebarleft {
    display: none;
}

.no-left-sidebar #right-content,
.no-left-sidebar #maincontent {
    width: 940px;
    }

.row {
    margin-left: 0;
    }

.divclearfix {
    clear: both;
}

#sidebarleft ul {
    margin: 0;
    list-style: none;
}

#sidebarleft ul ul {
    margin-left: 20px;
}

#sidebarleft li {
    color: #999;
    padding: 2px 0;
    line-height: 130%;
}

#sidebarleft li b {
    color: #000;
}

.parts {
  padding: 10px;
  border: 1px solid #999999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.part {
	display: none;
}

.section {
    margin-left: 20px;
}

.sub {
    margin-left: 40px;
}

.show-module {
    display: block;
    float: left;
}

.in-progress {
    display: block;
    float: right;
}

.certificate {
    display: block;
    float: right;
}
