header#masthead
{
    height: 100px;
    background-color: transparent;
    padding: 10px 0 10px 10px;
}

header h1 {
    background: url('/site_media/img/banner.jpg') 0 0 no-repeat;
    height: 100px;
    width: 669px;
}
header h1 a {
    display: block;
    height: 100px;
    width: 669px;
}
header h1 a span {
    display: none;
}
header h4 { display: none; }
html { height: 100%; }

body
{
    background-color: #eee;
    height: 100%;
}

body > .container
{
    background-color: transparent;
    /*min-height: 100%;*/
}

#content { min-height: 100%; }
.navbar-top { margin-bottom: 0px; }

#primarynav .navbar-inner
{
    background-color: blue;
    background-image: none;
}

#primarynav li.active a
{
    background-color: #8ae;
    color: black;
}

#primarynav a
{
    color: white;
    background-color: #679;
}

#primarynav a:hover { color: blue; }
.controls textarea { width: 90%; }
.item-feedback { display: none; }
.casequestion input[type="radio"] { margin: 3px 3px 3px 0px; }
.casequestion form li { cursor: pointer; }

.big-modal
{
    width: 940px;
    margin-left: -470px;
    max-height: 600px;
    margin-top: -300px;
}

#user_log_in
{
    width: 250px;
    float: left;
    margin: 0;
}

#welcome
{
    float: left;
    width: 500px;
    padding: 0px 80px 0px 0px;
}

h3.log_in { color: #777; }

p.smalltxt.login
{
    margin: 10px 0 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

/* special classes */

.no-left-sidebar #sidebar {
    display: none;
}

.no-left-sidebar #right-content {
    width: 940px;
    }
    
    
/* CSS overide special for PHTC */

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: auto;
    width: 960px;
}

.navbar {
    height: 30px;
}

.navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
}
.navbar .nav {
    float: left;
    width: 458px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .brand {
    margin: 0;
    padding-left: 23px !important;
    background: url('/site_media/img/icon_home.png') 0 11px no-repeat;
}

.navbar .usernav {
    float: left;
    width: 458px;
}
