<script src="{{STATIC_URL}}js/underscore-min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/backbone-min.js" type="text/javascript" ></script>

<script src="/_rgt/media/js/treatment_activity.js?version=1" type="text/javascript" ></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var view = new TreatmentActivityView({
            el: 'div.treatment-activity-container'
        });
    });

</script>

<script type="text/template" id="patient-factors">
    <button type="button" class="btn btn-large btn-success btn-primary run_test" >Start over</button>
</script>

<script type="text/template" id="treatment-step">
    <div id="treatment-step-<%=id%>" 
        class="treatment-step <%=type%>
            <% if (minimized) { %>minimized<% } %>">
            


        <% if (type === 'IF') { /* Generic Treatment Step */ %>                    
            <div class="timeline">
                
            </div>
            <div class="medication <% if (!minimized && duration > 0) { %>height-<%=duration%><% } %>">
                <% if (can_edit) { %>
                    <a href="/admin/treatment_activity/treatmentnode/<%=id%>/"
                       target="_blank"
                       title="edit this step">
                        <i class="icon-edit"></i>
                    </a>
                <% } %>
                <p class="step-content"><%= text %> </p><br />
            </div>







        <% } else if (type === 'DP') { /* Decision Point */ %>
            <div class="timeline">
                <div class="duration"></div>
            </div>
            <div class="medication challenge">
                <% if (can_edit) { %>
                    <a href="/admin/treatment_activity/treatmentnode/<%=id%>/"
                       target="_blank"
                       title="edit this step">
                        <i class="icon-edit"></i>
                    </a>
                <% } %>
                
                <p class="step-content">
                    <b>CHALLENGE:</b> <%= name %>? 
                    <% if (decision === undefined) { %>
                        <div class="decision_buttons">
                            <% for (var i = 0; i < children_list.length; i++) { %>
                                  <% var answer = children_list[i]; %>
                                  <div>
                                        <button type="button" value = "<%= answer['value'] %>"class="btn btn-primary decision-point-button">
                                            <%= answer['name'] %>
                                        </button>
                                  </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <p class="step-content">
                            <br /><span><b>YOU CHOSE:</b> <%=children_list[decision - 1]['name']%></span>
                            <br /><button type="button" class="btn choose-again"
                                data-id="<%=id%>" data-loading-text="Loading..."><i class="icon-refresh"></i> Choose again</button>
                        </p>
                    <% } %>
                </p>
            </div>









        <% } else if (type === 'ST') { /* Stop */ %>
            <div class="timeline">
                <div class="duration"></div>
            </div>
            <div class="medication">
                <% if (can_edit) { %>
                    <a href="/admin/treatment_activity/treatmentnode/<%=id%>/"
                       target="_blank"
                       title="edit this step">
                        <i class="icon-edit"></i>
                    </a>
                <% } %>                
                <p>
                    <p class="step-content"><%= text %></p>
                    <div>
                        <div>
                        <button type="button" class="btn reset-state"
                            data-loading-text="Resetting..."><i class="icon-repeat"></i> Start Over</button>
                        </div>
                    </div>
                </p>
            </div>
        <% } %>






        
        <% if (help) { %>
            <div class="treatment-step-help" style="display: none">
                <%= help %>
            </div>
        <% } %>
    </div>
    <div style="clear: both"></div>
</script>
