{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} | Lower New York State Public Health Training Center</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="phtc">
  <meta name="author" content="CCNMTL">

  {% compress css %}
  <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
  {% comment %} <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">{% endcomment %}
  <link href="/site_media/css/main.css?site=phtc" rel="stylesheet">
  {% endcompress %}
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
  <script src="/site_media/js/jquery-1.7.2.min.js"></script>

<!-- shield -->
<link rel="stylesheet" href="/site_media/js/shield-1.0/shield.css" type="text/css" media="all" />
<script src="/site_media/js/shield-1.0/browserdetect.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="/site_media/js/shield-1.0/shield.js"></script>
<script type="text/javascript">
/* Select from list: Chrome, Firefox, Safari, MSIE */
shieldbrowser({"Chrome":13,"Firefox":6,"MSIE":9,"Safari":5});
</script>


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	{% block feeds %}{% endblock %}
</head>
<body{% block noleftsidebar %}{% endblock %}>

<div class="container">
{% block topnavbar %}
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a class="brand" href="/">{% if request.user.is_anonymous %}Home{% else %}My Dashboard{% endif %}</a></li>
          {% block topnavbarleftitems %}{% endblock %}
        </ul>
        <div class="usernav">

          {% block topnavbarrightitems %}{% endblock %}
          {% block usernav %}

          {% if request.user.is_anonymous %}
          
          {% else %}
          Hello <span class="user_profile" rel="tooltip" title="View/Edit my profile"><a href="/profile/">{% if request.user.last_name %}{{request.user.first_name}}{% else %}{{request.user.username}}{% endif %}</a></span> <a id="login-logout" href="/accounts/logout/?next=/accounts/login/" class="btn btn-small btn-danger">Log out</a>
          {% endif %}
          {% endblock %}
        </div><!-- usernav -->
      </div><!-- navbar-inner -->
    </div><!-- navbar -->
{% endblock %}

{% block masthead %}
    <header id="masthead">
        <h1><a href="/" title="Return to {% if request.user.is_anonymous %}Home Page{% else %}My Dashboard{% endif %}"><span>Return to {% if request.user.is_anonymous %} Home Page {% else %} My Dashboard {% endif %} </span></a></h1>
        <h4 id="logo-ccnmtl">
            <a href="http://ccnmtl.columbia.edu" target="_blank"
            title="Columbia Center for New Media Teaching and Learning">
            <span>Produced by the Columbia Center for New Media Teaching
            and Learning</span>
            </a>
        </h4>
        {% block primarynav %}
        {% comment %}<div class="navbar" id="primarynav">
            <div class="navbar-inner">
            <div class="container">
            <ul class="nav">
            {% block primarynavtabs %}
            {% for section in modules %}
            <li{% ifequal section.id module.id %} class="active"{% endifequal %}><a href="{{section.get_absolute_url}}">{{section.label}}</a></li>
            {% endfor %}
            {% endblock %}
            {% block primarynavtabsextra %}{% endblock %}
            </ul>
            
            <ul class="nav pull-right">
            {% block primarynavrightextra %}{% endblock %}
            </ul>
            </div>
            </div>
        </div>{% endcomment %}
        {% endblock %}
    </header><!-- masthead -->
{% endblock %}

    <div class="content">
        <div class="row">
        <div id="shieldbox"></div>
            <div class="span3" id="sidebarleft">
                {% block sidebar %}{% endblock %}
            </div><!-- sidebarleft -->
            <div class="span9" id="maincontent">

          {% if request.user.is_superuser %}
            {% ifequal section.get_absolute_url NONE  %}
            {% else %}
            <ul class="nav nav-pills">
                <li><a style="color: #000;"><b>Page mode:</b></a></li>
                <li{% block mode-view %} class="active"{% endblock %}> <a href="{{section.get_absolute_url}}" >View</a></li>
                <li{% block mode-edit %}{% endblock %}><a id="test-edit-link" href="/edit{{section.get_absolute_url}}">Edit</a></li>
             </ul>
             <hr />
            {% endifequal %}
            
          {% endif %}



                {% block pagetitle %}{% endblock %}
                {% block content %}{% endblock %}
                {% block content-nav %}{% endblock %}
            </div><!-- maincontent -->
        </div>
        <div class="divclearfix"></div><!-- divclearfix -->
    </div><!-- content -->

{% block footer %}
  {% comment %}<footer class="footer navbar-fixed-bottom hidden-phone">
  <img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly pull-right" />
  </footer>
  {% endcomment %}
  <footer class="footer">
	<ul>
	<li>
	<a href="/about/">About</a>
	</li>
	<li>
	<a href="/help/">Help</a>
	</li>
	<li>
	<a href="/contact/">Contact</a>
	</li>
	</ul>
  <p>Principal support for the PHTC is provided through a grant from<br />
the Health Resources and Services Administration, U.S. Department of Health and Human Services.</p>
  </footer>
{% endblock %}

</div><!-- container -->


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% block js %}{% endblock %}
{% compress js %}
<script src="/site_media/bootstrap/js/bootstrap.js"></script>
{% endcompress %}

<script>
//add tooltip
  jQuery("span.user_profile").tooltip({
    placement: 'bottom'
  });
  jQuery("span.tooltip-bottom").tooltip({
    placement: 'bottom'
  });
  jQuery("span.tooltip-top").tooltip({
    placement: 'top'
  });
 
// Create a PHTC namespace
// and give it a getURL function
  PHTC = {};
  PHTC.getUrlVars = function() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }//end getUrlVars

if(window.phtcInputFormCheck){
  PHTC.formInputLength();
}
  if (PHTC.getUrlVars()['incomplete'] ){
    var message = "You must complete the previous part in order to continue. \n\n We redirected you back to the dashboard so you can check your status and remeber where you left off."
    alert(message);
  }
  window.PHTC = PHTC;
</script>
{% if STAGING_ENV %}
<div class="alert alert-error" style="position: fixed; bottom: 0px;">
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}
</body>
</html>
