{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} | Lower New York State Public Health Training Center</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="phtc">
  <meta name="author" content="CCNMTL">

  {% compress css %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/main.css?site=phtc" rel="stylesheet">
  {% endcompress %}
  <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
  {% block css %}{% endblock %}
  <script src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
  {% block feeds %}{% endblock %}
</head>

<body{% block noleftsidebar %}{% endblock %}>
  <div class="container">
  {% block topnavbar %}
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li>
            {% block brand %}
                <div class="brand"></div>
            {% endblock %}
          </li>
          {% block topnavbarleftitems %}{% endblock %}
        </ul>
        <div class="usernav">
          {% block topnavbarrightitems %}{% endblock %}
          {% block usernav %}
            {% if request.user.is_anonymous %}
            {% else %}
              <a href="/dashboard/">Dashboard</a>
              <a id="login-logout" href="/accounts/logout/?next=/accounts/login/" class="btn btn-small btn-danger">
                Log out
              </a>
            {% endif %}
          {% endblock %}
        </div><!-- usernav -->
      </div><!-- navbar-inner -->
    </div><!-- navbar -->
{% endblock %}

{% block masthead %}
    <header id="masthead">
        <h1></h1>
        <h4 id="logo-ccnmtl">
            <a href="http://ccnmtl.columbia.edu" target="_blank"
            title="Columbia Center for New Media Teaching and Learning">
              <span>
              Produced by the Columbia Center for New Media Teaching
              and Learning
              </span>
            </a>
        </h4>
        {% block primarynav %}
      {% endblock %}
    </header><!-- masthead -->
{% endblock %}

    <div class="content">
        <div class="row">
            <div class="span3" id="sidebarleft">
                {% block sidebar %}{% endblock %}
            </div><!-- sidebarleft -->
            <div class="span9" id="maincontent">

          {% if request.user.is_superuser %}
            {% ifequal section.get_absolute_url NONE  %}
            {% else %}
              <ul class="nav nav-pills">
                <li><a style="color: #000;"><b>Page mode:</b></a></li>
                <li{% block mode-view %} class="active"{% endblock %}> <a href="{{section.get_absolute_url}}" >View</a></li>
                <li{% block mode-edit %}{% endblock %}><a id="test-edit-link" href="/edit{{section.get_absolute_url}}">Edit</a></li>
              </ul>
             <hr />
            {% endifequal %}
          {% endif %}

                {% block pagetitle %}{% endblock %}
                {% block content %}{% endblock %}
                {% block content-nav %}{% endblock %}
            </div><!-- maincontent -->
        </div>
        <div class="divclearfix"></div><!-- divclearfix -->
    </div><!-- content -->

{% block footer %}
  <footer class="footer">
	<ul>
	  <li><a href="/about/">About</a></li>
	  <li><a href="/help/">Help</a></li>
	  <li><a href="/contact/">Contact</a></li>
	</ul>
    <p>Principal support for the PHTC is provided through a grant from<br />
    the Health Resources and Services Administration, U.S. Department of Health and Human Services.
    </p>
  </footer>
{% endblock %}

</div><!-- container -->


<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

{% block js %}{% endblock %}
{% compress js %}
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
{% endcompress %}

<script>
//add tooltip
  jQuery("span.user_profile").tooltip({
    placement: 'bottom'
  });
  jQuery("span.tooltip-bottom").tooltip({
    placement: 'bottom'
  });
  jQuery("span.tooltip-top").tooltip({
    placement: 'top'
  });
 
// Create a PHTC namespace
// and give it a getURL function
  PHTC = {};
  PHTC.getUrlVars = function() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }//end getUrlVars

if(window.phtcInputFormCheck){
  PHTC.formInputLength();
}
  
  window.PHTC = PHTC;
</script>
{% if STAGING_ENV %}
  <div class="alert alert-error" style="position: fixed; bottom: 0px;">
    <h4>Warning: Staging Site</h4>
    <p>You are viewing a staging version of this site, not the production site.</p>
    <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
  </div>
{% endif %}
</body>
</html>
