{% extends "base.html" %}
{% block title %}Welcome to the PHTC Training Environment{% endblock %}
{% block noleftsidebar %} class="no-left-sidebar"{% endblock %}
{% block content %}
    <h1>Welcome to the PHTC Training Environment</h1>
    <div id="greeting-login">
        <div id="welcome">
		<p>
		The New York City-Long Island-Lower Tri County Public Health Training Center is pleased to offer a comprehensive collection of competency-based public health and public health-related trainings. Our training programs are free, high-quality, and interactive &#8211; designed to fully engage learners and impart needed knowledge and skills for the public health workforce.
		</p>
		<p>
		In order to enroll in these programs, you will need to complete a one-time registration form. In registering, you will create your own personal dashboard where you will gain access to all of our training resources. In addition, from your dashboard you can:
		</p>
		<ul>
		<li>Keep track of progress through and completion of different trainings</li>
		<li>Print and store certificates of completion</li>
		<li>Request continuing education credits</li>
		<li>Update your user profile</li>
		</ul>
		<p>
		New trainings are always being developed and will be added regularly to the training catalog. Be sure to log-in regularly to check for updates!
		</p>
        </div><!--end #welcome-->
        <div id="user_log_in">            
            <h3 class="log_in">Please log in</h3>
            
            <form method="post" action="./?next=/module-1/" class="well">
            {% csrf_token %}
            <p>If you have a project account...</p>
            
            <label for="id_username">Username: {{ form.username }}</label>
            <label for="id_password">Password: {{ form.password }}</label>
            
            <input id="login_form_submit_button" type="submit" value="LOG IN" class="btn btn-primary" />
            <input type="hidden" name="next" value="{{ next }}" />
            
            {% if form.errors%}
            <p class="errornote"><span><b>ERROR:</b> Invalid username or password.</span> Please try again. Note that both username and password are case-sensitive.</p>
            {% endif %}

            <p class="smalltxt"><span class="tooltip-bottom" rel="tooltip" title="Create your own PHTC account"><a href="/registration/register/">Need a new account?</a></span> | <span class="tooltip-bottom" rel="tooltip" title="Reset your password"><a href="/registration/password/reset/">Forgot password?</a></span></p>
            </form>
            
            <form method="get" action="{{ wind_base }}login" class="well">
            <input type="hidden" name="service" value="{{ wind_service }}" />
            <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
            <p>If you have a Columbia University Network ID
            (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
            </form>
        </div><!--end #user_log_in-->
    </div><!--end #greeting-login-->





{% endblock %}


