{% extends "base.html" %}

{% block title %}Welcome to the PHTC Training Environment{% endblock %}

{% block noleftsidebar %} class="no-left-sidebar"{% endblock %}

{% block content %}
<div class="row">
    <div class="span2 offset4">
        <div id="user_log_in">            
            <form method="post" action="./?next=/module-1/" class="well" id="login-form">
            {% csrf_token %}
            <p>If you have a project account...</p>
            
            <label for="id_username">Username: {{ form.username }}</label>
            <label for="id_password">Password: {{ form.password }}</label>
            
            <input id="login_form_submit_button" type="submit" value="LOG IN" class="btn btn-primary" />
            <input type="hidden" name="next" value="{{ next }}" />
            
            {% if form.errors%}
            <p class="errornote"><span><b>ERROR:</b> Invalid username or password.</span> Please try again. Note that both username and password are case-sensitive.</p>
            {% endif %}
    
            </form>
            
            <form method="get" action="{{CAS_BASE}}cas/login" class="well">
            <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
            <p>If you have a Columbia University Network ID
            (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
            </form>
        </div><!--end #user_log_in-->
    </div>
</div>        
{% endblock %}


