{% extends "base.html" %}
{% block title %}Welcome to the PHTC Training Environment{% endblock %}
{% block noleftsidebar %} class="no-left-sidebar"{% endblock %}
{% block content %}
<style>
#nylearns-greeting{
	color:#777;
}
</style>
  <h1>
    Hello NYLearnsPH.com Learner!
  </h1>
  <div id="greeting-login">
    <div id="user_log_in">            
      <h3 class="log_in">
       Please log in
      </h3>
      <form method="post" action="/nylearns_login/?next=/nylearns/&user_id={{ args.user_id }}&course={{ args.course }}" class="well">
        {% csrf_token %}
	    <label for="id_username">
	      Username: {{ form.username }}
	    </label>
	    <div id="nylearns-greeting"></div>
	    <label for="id_password">
	      Password: {{ form.password }}
	    </label>
	    <input id="login_form_submit_button" type="submit" value="LOG IN" class="btn btn-primary" />
	    <input type="hidden" name="next" value="{{ next }}" />
	    {% if errors%}
	      <p class="errornote">
	        <span>
	          <b>ERROR:</b>
	          Invalid username or password.
	        </span>
	          Please try again. Note that both username and password are case-sensitive.
	      </p>
	    {% endif %}
      </form>
    </div><!--end #user_log_in-->
    <div id="welcome" style="margin:0 0 0 25px;">
      <p>
        Welcome to the New York City-Long Island-Lower Tri-County Public Health Training Center (PHTC). You are a few short clicks away from beginning the online training course you enrolled in on NYLearnsPH.com Learning Management System (LMS).
      </p>
        	
      <p>
        Thank you visiting our site and we hope you enjoy our training programs,
      </p>

      <p>
        New York City-Long Island-Lower Tri-County Public Health Training Center Staff
      </p>
     </div><!--end #welcom-->
    </div><!--end #greeting-login-->
    <script src="{{STATIC_URL}}js/nylearns_test_user.js"></script>
{% endblock %}


