<script src="{{STATIC_URL}}js/underscore-min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/backbone-min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/jquery-ui-1.10.3.min.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/logicmodel.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/view.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/scenario.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/box.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/column.js" type="text/javascript" ></script>
<script src="/_logic_model/media/js/setup.js" type="text/javascript" ></script>
{%include "logic_model/subtemplates/column.html"   %}
{%include "logic_model/subtemplates/box.html"      %}
{%include "logic_model/subtemplates/scenario.html" %}
