<div class="loading-overlay">Loading...</div>
<div class="logic-model-container">
	<div id="phase_container">

		<div class="scenario-list-stage">
			<div class="logic-model-game-phase-name">Name of this phase of the game.</div>
			<div class="logic-model-game-phase-instructions">Instructions</div>
			
		</div>

		<!-- choose scenario -->
		{%include "logic_model/subtemplates/initial_scenario_choice2.html" %}

		
		<!-- all subsequent phases of the game -->
		{%include "logic_model/subtemplates/table2.html" %}
		<!-- the help box -->
		{%include "logic_model/subtemplates/help_box2.html" %}
	</div>
</div>

<script type="text/javascript" language="javascript">
    jQuery(document).ready(function(jQuery){
        jQuery(".collapse").collapse();
    });
    </script>
