<script type="text/template" id="logic-model-box">
    <div class="cell">
    	<div class="box_droppable">
	    	<div class="box_draggable">
	    		<!-- <div class="box_handle" title="Move this cell"> -->
	    			<!-- <i class="icon-large icon-move" title="Move this cell"></i> -->
	    		<!-- </div> -->
	    		<div class="switch_color" title="Switch color"><img src="{{STATIC_URL}}img/icon-color.png" /></div>
		    	<textarea value ="<%=contents%>" class="text_box" maxlength="120"></textarea>
	    	</div>
    	</div>
    </div>
</script>