<!-- the whole table goes here: -->
<div class="scenario-block scenario_instructions_container">
    <div class="scenario-header">
        <div class="scenario-criteria scenario_title_2">
            Scenario title goes here
        </div>
    </div> 
    <div class="scenario-content scenario_instructions">
        Scenario instructions go here
    </div> 
</div>



<div class="table-toolbar{% comment %}wipe-table-div{% endcomment %}">
    <div class="previous_phase btn btn-info"><i class="icon-arrow-left icon-white"></i> Back a step</div>
    <div class="wipe-table-button btn btn-info"><i class="icon-trash icon-white"></i> Clear table</div>
    <div class="change_scenario btn btn-info"><i class="icon-refresh icon-white"></i> Switch scenario</div>
    <div class="print_scenario btn btn-info"><i class="icon-print icon-white"></i> Print scenario</div>
    <div class ="show_expert_logic_model_link_div btn btn-info">
        <i class="icon-file icon-white"></i> <a target="_blank" href="/_logic_model/media/pdf/expert_logic_model.pdf" class="show_expert_logic_model_link">Show expert logic model</a>
    </div>
    <div class="wipe-table-button-div alert">
    <h3>Are you sure you want to clear the table?</h3> This will permanently erase everything you typed in the boxes.
    <div class = "wipe-table-confirm-button btn btn-danger">
    Yes, I'm sure.
    </div>
    <div class = "wipe-table-cancel-button btn btn-success">
    No.
    </div>
    </div>
</div>





<!-- the whole table goes here: -->
<div class="logic-model-columns clearfix"></div>
