<!-- the whole table goes here: -->
<div class ="well scenario_instructions_container">
	<h4 class="scenario_title_2">Scenario title goes here</h4>
	<div class="scenario_instructions">Scenario instructions go here</div>
	<div class="btn btn-info change_scenario">Change scenario</div>
</div>

<div class = "wipe-table-div well">
    <div class = "wipe-table-button btn btn-danger">
        Clear table
    </div>
    <div class = "wipe-table-button-div alert">
        <h3>Are you sure you want to clear the table?</h3> This will permanently erase everything you typed in the boxes.
        <div class = "wipe-table-confirm-button btn btn-danger">
            Yes, I'm sure.
        </div>
        <div class = "wipe-table-cancel-button btn btn-success">
            No.
        </div>
    </div>
</div>

<div class = "show_expert_logic_model_link_div">
    <a target="_blank" href="/_logic_model/media/pdf/expert_logic_model.pdf" class=" show_expert_logic_model_link btn btn-info" >Show expert logic model</a>
</div>


<!-- the whole table goes here: -->
<div class="logic-model-columns"></div>
<!-- reflections -->
<textarea id ="reflections">Notes</textarea>
