{% load markup %}

{% if block.lightbox %}
    <style type="text/css">
    .bigModal .modal-dialog {
       width:960px;
    }
    </style>
    
    <ul class="thumbnails">
    	<li class="span3">
    		<div class="thumbnail">
    			<a data-toggle="modal" href="#image-lightbox-{{block.id}}" data-target="#image-lightbox-{{block.id}}">
    				<img alt="{{block.alt}}"  src="{{MEDIA_URL}}{{block.image.name}}" />
    			</a>
    			<div class="caption">
    				{{block.caption|markdown}}
    			</div>
    		</div>
    	</li>
    </ul>

{% else %}
    <img class="img-response" alt="{{block.alt}}" src="{{MEDIA_URL}}{{block.image.name}}" />
    <div class="caption">
        {{block.caption|markdown}}
    </div>
{% endif %}
