{% load markup %}
{% load getresponse %}
{% comment %}
{% getquestionresponse question as response %}
{% endcomment %}
<div class="cases">
  {{question.intro_text|markdown}}

  <div class="casetitle">Question {{question.display_number}}:</div>
     
  <div class="casecontent">
    <div class="casequestion">
      {{question.text|markdown}}
      
      {% if question.answerable %}
      
        {% if block.rhetorical %}
          <form id="form-{{question.id}}" method="post">
        {% endif %}
        
        {% if block.matching %}
          <form id="matching-form-{{question.id}}">
        {% endif %}
        
        <!-- go through each question type, note that only the
        rhetorical and matching blocks have form tags -->

	    {% if question.is_single_choice %}
          {% include 'quizblock/single_choice.html' %}
        {% endif %}

        {% if question.is_single_choice_feedback %}
          {% include 'quizblock/single_choice.html' %}
        {% endif %}

        {% if question.is_matching %}
          {% include 'quizblock/single_choice_matching.html' %}
        {% endif %}

	    {% if question.is_single_choice_dropdown %}
    	    {% include 'quizblock/single_choice_dropdown.html' %}
	    {% endif %}

	    {% if question.is_multiple_choice %}
	      {% include 'quizblock/multiple_choice.html' %}
	    {% endif %}

        {% if block.rhetorical %}
          </form>
        {% endif %}
        
        {% if block.matching %}
          </form><!-- end #matching-form-{{question.id}}-->
        {% endif %}
        
      {% else %}<!-- question is not answerable -->
        {% if question.is_short_text %}
          {% include 'quizblock/short_text.html' %}
        {% endif %}

        {% if question.is_long_text %}
          {% include 'quizblock/long_text.html' %}
        {% endif %}
      {% endif %}
    </div>
    <!-- we want to show the anser no matter what -->
    <!-- might be easier to edit question types
    directly since we show answer no matter what -->
    {% include 'quizblock/show_answer.html' %}
    
  </div>
</div>


