{% load markup %}
{% load getresponse %}
{{ block.description|markdown }}

  {% for question in block.question_set.all %}
    {% include 'quizblock/question.html' %}
  {% endfor %}
  <script>
  jQuery(document).ready(function(){
	  jQuery("button.reading-exercise").on('click', function(evt){
		  jQuery(this).parent().parent().find("div.question_response").css('display','block');
	  });
	  
  }); // end doc.ready
  </script>
  
	{% if block.matching %}
		<script src="{{STATIC_URL}}js/matching.js"></script>
	{% endif %}

	
	{% if block.rhetorical %}
		{% if block.feedback%}
			<script src="{{STATIC_URL}}js/feedback.js"></script>
		{% else %}
			<script src="{{STATIC_URL}}js/quizshow.js"></script>
		{% endif %}
	{% endif %}	

