{% load markup %}
{% load getresponse %}
{{ block.description|markdown }}

{% if request.user.is_anonymous %}
  <p class="warning">You must be logged in to view this content</p>
{% else %}

{% for question in block.question_set.all %}
  {% include 'quizblock/question.html' %}
{% endfor %}
	{% if block.matching %}
		<script src="/site_media/js/matching.js"></script>
	{% endif %}
	{% if is_submitted  %}
	{% else %}
		{% if block.pre_test %}
		<script src="/site_media/js/pre_test.js"></script>
			<script src="/site_media/js/required_answers.js"></script>
		{% endif %}
	{% endif %}
	{% if is_submitted  %}
	{% else %}
		{% if block.post_test %}
			<script src="/site_media/js/post_test.js"></script>
			<script src="/site_media/js/required_answers.js"></script>
		{% endif %}
	{% endif %}
	{% if block.rhetorical %}
		{% if block.feedback%}
			<script src="/site_media/js/feedback.js"></script>
		{% else %}
			<script src="http://mt.ccnmtl.columbia.edu/pedialabs/js/quizshow.js" type="text/javascript" language="javascript"></script>
		{% endif %}
	{% endif %}	

{% endif %}
