{% load markup %}
{% if block.feedback  %}
      <div class="casesanswerdisplay">
        <div id="q{{question.id}}" class="toggleable">
          <p>
            
            {{answer.feedback}}
          </p>
        </div>
      </div>
      <div class="case-feedback">
        {% for answer in question.answer_set.all %}
          <div class ="item-feedback well">
            {% if answer.correct %}
              <p><span class="correct">Correct: </span>{{ answer.feedback }} </p>
            {% else %}    
              <p><span class="incorrect">Incorrect: </span>{{ answer.feedback }}</p>
            {% endif %}
        </div>
        {% endfor %}
      </div><!--end case-feedback-->
{% else %}
<p>{{question.explanation|markdown}}</p>

{% endif %}



