{% load markup %}
<style>
  .answer-value input[type="radio"]{
    float: left;
    clear: left;
margin: -18px 0 0 20px;
  }
  ol {margin-left:0; padding-left:0; counter-reset:item}
      ol>li {margin-left:0; padding-left:0; counter-increment:item; list-style:none inside}
      ol>li:before {content:"" counter(item) "."; padding-right:0.5em}
</style>

<ol type="A">
  {% for answer in question.answer_set.all %}
    {% if block.rhetorical %}
      <li>
        <div class="answer-value">
          <input name="question{{question.id}}" value="{{answer.label|safe}}" type="radio" />
          {{answer.label|safe}}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ol>
