header#masthead {
  height:60px !important;
}

.row {
  padding-top: 0px;
}

span.column_span {
    width:  90px;
    margin-left:0px;
    font-size: .8em;
}

span.logic_model_box {
    height: 100px;
    margin-left:0px;
}

div.logic-model-columns {
   clear:both; 
}

div.reflections_box {
   clear:both; 
}


div.reflections_box  textarea { 
   clear:both; 
    font-size: .8em;
}
/*

.module-rgt-activity {
  #sidebar {
    display: none;
  }
  
  .container.main {
  .span9 {
    width: 100%;
    margin: 0 0 0 0;
  }
}
}
.treatment-activity-view {

   input {
      margin: 0 5px 0 0;
    }
}

  .treatment-activity-container {
}

.treatment-activity-container h3 {
    margin-bottom: 0;
}

.treatment-activity-view {
  
  .factors-choice {
    border: 2px solid #eee;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 5px;
    width: 475px;
    text-align: center;
    background-color: #fff;
    &.stop {
     border-color: #ed513b;
     background-color: #edb3ab;
      p {
        font-weight: bold;
      }
    }
  }
}



div.patient-factors {
    margin: 5px 0;
}

input.reset-state {
    margin: auto 0;
}

div.treatment-steps {
}

div.treatment-step {
    clear: both;
}

div.week {
    font-size: .8em;
    font-weight: bold;
}

div.timeline {
    float: left;
    width: 100px;
    padding-right: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.timeline div.duration {
    background-color: #E7E7E7;
    width: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

div.medication {
    float: left;
    border: 2px solid #eee;
    border-radius: 8px;
    margin-top: 20px;
    padding: 5px;
    width: 350px;
    text-align: center;
    background-color: #fff;
    

    &.stop {
     border-color: #ed513b;
     background-color: #edb3ab;
      p {
        font-weight: bold;
      }
    }
}

div.medication p {
    display: inline;
}

div.edit-step {
    float: left;
    width: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

div.medication .icon-question-sign,
div.medication .icon-edit {
    float: right;
    cursor: pointer;
    margin-left: 5px;
    opacity: .75;
    
   &:hover {
     opacity: 1;
   }
}


div.treatment-step-help {
  max-height: 200px;
  position: absolute;
  right: 400px;
  width: 250px;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 20px;
  overflow-y: auto;
  background-color: #eee;
  border-radius: 8px;
}


div.height-0 {
    height: 20px;
    background-color: white;
}

div.height-4 {
    height: 40px;
}

div.height-8 {
    height: 80px;
}

div.height-12 {
    height: 120px;
}

div.height-24 {
    height: 240px;
}

.treatment-step {
  .time {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    clear: both;
    display: block;
    margin: 0;
  }  
  
  .step-content {
    margin: 0 0 0 38px;
  }
  
}

div.treatment-step.minimized div.duration,
div.treament-step.minimized div.medication {
    height: 35px !important;
}

/* Decision Point */
div.treatment-step.DP.minimized div.duration {
    height: 1px !important;
}

div.treatment-step.DP.minimized div.medication {
  border-bottom: none;
  padding-bottom: 5px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background: #ffc23f;
  border-color: #fdb61e;
}


div.treatment-step.DP .duration {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: gray;
    position: relative;
    background-color: #fafafa;
    margin-top: 25px;
}

div.treatment-step.DP .duration:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: gray;
}


/* Decision Point Branch (Parent) */
div.treatment-step.PR div.medication {
    border-top: none;
    padding-top: 5px;
    margin-top: 0;
    border-radius: 0 0 8px 8px;
}


div.treatment-step.ST .duration {
    width: 25px;
    height: 25px;
    background: #b94a48;
    position: relative;
    top: 47px;
}

div.treatment-step.ST .duration:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 7px solid #b94a48;
    border-left: 7px solid white;
    border-right: 7px solid white;
    width: 11px;
    height: 0;
}

div.treatment-step.ST .duration:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 7px solid #b94a48;
    border-left: 7px solid white;
    border-right: 7px solid white;
    width: 11px;
    height: 0;
}
div.treatment-step.ST {
  .medication {
    border-color: #eed3d7;
    background-color: #f2dede;
    color: #b94a48;
  }
}

btn.reset-state {
  margin-top: 10px;
}


*/