header#masthead {
  height:60px !important;
}

.row {
  padding-top: 0px;
}
textarea#reflections {
  margin: 2px;
  padding: 2px;
  width:835px;
  clear:both;
  font-size: .8em;
}

.game-phase-help-button-div {
  display: inline;
  position: relative;
  left: 600px;
  top: -25px;
}

.logic-model-columns {
    width: 840px;
    /*
    height: 500px;
    border: 1px solid #ccc;
    */
}

.centered {
  margin: auto;
  display: block;
}

.previous_phase {
  width: 100px;
}
.divclearfix {
  clear: both;
}

span.column_span {
    width:  140px;
    margin-left:0px;
}

span.backbone_column_span {
    width:  140px;
    margin-left:0px;
}

.help_box {
  display: none;
  position: absolute;
  top: 400px;
  left:100px;
  width: 400px;
  height: 400px;
}

.cell {
  width: 130px;
  height: 50px;
  margin: 2px;
  padding: 2px;
  float: left;
  border: 1px solid #ccc;
  font-size: .8em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.colhead {
  font-size: .8em;
  width: 130px;
  height: 50px;
  margin: 2px;
  padding: 2px; 
  float: left;
  border: 1px solid #ccc;
  background-color: #ccc;

}

/* Phases of the game */
.text_box {
  display: inline;
  position: absolute;
  font-size: .8em;
  line-height: 1em; 
  top:    0px;
  left:   10px;
  width : 110px;
  height: 41px;
}

.box_draggable .box_handle {
  display: inline;
  position: absolute;
  left : -4px;
  top :  -4px;
}

.box_draggable .switch_color {
  display: inline;
  position: absolute;
  left : 0px;
  top : 10px;
  height:16px;
  width:15px;
  border: 1px solid #ccc;
  background-color: #ccc;
  color: grey;
}

div.done-button {
  display:  none;
}

div.done-button.visible {
 display: inline-block;
}


.box_draggable .box_handle .icon-move{
  display: inline;
  position: absolute;
  left : 1px;
  top :  33px;
}


.hover_droppable {
  background-color: blue;
  /*opacity:0.4;
  filter:alpha(opacity=40); */
}



.hover_droppable .text_box, 
.hover_droppable .box_handle,
.hover_droppable .switch_color {
  z-index: -100;
  opacity:0.0;
  filter:alpha(opacity=0);
}


.box_draggable {
  cursor: pointer;
}

.box_droppable {
  height: 50px;
}

.active_droppable {
  background-color: green;
}



.inactive_box {
  background-color: darkgrey;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

/* Pick scenario:*/
#phase_container.pick_scenario div.logic-model-columns, 
#phase_container.pick_scenario textarea#reflections,
#phase_container.pick_scenario .change_scenario,
#phase_container.pick_scenario .scenario_info,
#phase_container.pick_scenario .scenario_instructions_container,
#phase_container.pick_scenario .next_phase  {
    display:none;
}


/* Add inputs:*/
#phase_container.add_inputs div.logic-model-initial-scenario_choice {
    display:none;
}

#phase_container.add_inputs div.previous_phase {
    display:none !important; /* no need to since the "change scenario" button does the same thing. */
}

/* Add long term outcomes */
#phase_container.add_long_term_outcomes div.logic-model-initial-scenario_choice {
    display:none;
}

/* Add intermediate columns:*/
#phase_container.add_intermediate_columns div.logic-model-initial-scenario_choice {
    display:none;
}
/* Finish work:*/
#phase_container.finish_work div.logic-model-initial-scenario_choice {
    display:none;
}
/* Conclusion:*/
#phase_container.conclusion div.logic-model-initial-scenario_choice {
    display:none;
}
