{% extends 'base.html' %}
{% load user_status %}

{% block content %}

<style type="text/css">
.content{
	min-height:500px;
}
#certificate{
	position: relative;
	margin: 50px 0 0 0;
	background: url({{STATIC_URL}}img/certificate_blank.jpg) no-repeat;
	min-height:300px;
	width:370px;
}
#inner-wrap{
	position: absolute;
	margin-top: -450px;
	margin-left: 80px;
	text-align: center;
}
#inner-wrap #user{
	font-size: 24px;
	font-weight: bold;
}
#inner-wrap #label{
	width: 500px;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	padding-top:15px; 
}

#inner-wrap #date-completed{
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.printable {
	padding: 10px;
}

/*
img.certificate-diploma{
	background-color: #E0E0E0 ;
	padding: 5px 5px 5px 5px ;
}
*/

a.print-certificate
{
	display: block;
	width: 110px;
	border: 1px dotted gray;
	background-position: 10px center;
	padding-top: 10px;
	padding-left: 40px;
	float: right;
}

/*start - printout style as seen in browser print dialog box*/
@media print 
{
	#inner-wrap{
		position: absolute;
		margin-top: -600px;
		margin-left: 160px;
		text-align: center;
		font-family: arial, helvetica, sans-serif !important;
	}
	
	#inner-wrap #user{
		font-size: 24px;
		font-weight: bold;
	}
	
	#inner-wrap #label{
		width: 500px;
		font-size: 28px;
		line-height: 28px;
		font-weight: bold;
		padding-top:15px; 
	}

	#inner-wrap #date-completed{
		font-size: 24px;
		font-weight: bold;
		margin: 20px 0 0 0;
	}
}
/*stop - printout style as seen in browser print dialog box*/

</style>

<h2>Certificate Earned</h2>

<p>To request continuing education credits, email <a href="mailto:phtc@columbia.edu">phtc@columbia.edu</a>.</p>
	<p>
		<a class="certificate print-certificate">Print Certificate</a>
	</p>

	<div class="printable">
 		<img class="certificate-diploma" src="{{STATIC_URL}}img/certificate_blank.jpg">
 		<div id="inner-wrap">
			<div id="user">{{ profile.fname }} {{ profile.lname }} has completed</div>
			<div id="label">{{ module.label }}</div>
			<div id="date-completed">{{ date|date:"F d, Y" }}</div>
 		</div><!--end inner-wrap-->
	</div><!--end .printable-->
	
	
	<script src="{{STATIC_URL}}js/jquery.print.js"></script>
	<script>
		jQuery( "a.print-certificate" )
			.attr( "href", "javascript:void( 0 )" )
			.click(function(){
					// Print the DIV.
					$( ".printable" ).print();

					// Cancel click event.
					return( false );
				});//end .click
	</script>

{% endblock %}
