<p>Congratulations on successfully completing the online training program {{ label }}.</p>

<p>You may now access your certificate of completion for this program. Simply, <a href="https://{{ host }}/dashboard/">click here</a> to return to your personal dashboard; a link to your certificate is <a href="http://{{ host }}/certificate{{ abs_url }}">here</a>.</p>

<p>To request continuing education credit for this training program, please write to phtc@columbia.edu. In an email, please include your name, contact information, and the type of credit you are requesting, and a staff member of the New  York City-Long Island-Lower Tri County Public Health Training Center will follow-up with you shortly.</p>

<p>If you experience any technical difficulties in accessing the certificate or the dashboard, please also contact phtc@clumbia.edu.</p>

<p>Thank you for choosing the New York City-Long Island-Lower Tri County Public Health Training Center. We hope you will return to our site often and take advantage of new content and other training offerings</p>

<p>New York City-Long Island-Lower Tri-County Public Health Training Center</br>
        Columbia University | Mailman School of Public Health</br>
        722 West 168th Street, Room 552<br/> New York, NY 10032</br>
        Phone: (212) 305-6984</br>Fax: (212) 342-9004</br>
        Email: phtc@columbia.edu</p>