{% extends "registration/registration_base.html" %}
{% load bootstrap %}
{% block title %}Register for an account{% endblock %}
{% block content %}

<h3>Edit your Profile</h3>
	<form id="user_profile" method='post' action='/update_profile/' class="well form-horizontal">{% csrf_token %}
			{{form|bootstrap}}
	
	<div class="fieldwrapper">
        <input type="button" class="btn btn-primary" value="Update Profile" /></td>
	</div><!-- fieldwrapper -->
    </form>
    

    <!-- begin user feedback alerts-->
    <div class="alert alert-block alert-error hide fade in" style="position:absolute; top:50%; left:35%; width:200px;">
		<button type="button" class="close close-alert">×</button>
        <h4 class="alert-heading">Password Error</h4>
        <p>The passwords must match.</p>
    </div><!-- end .alert -->

    <div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Success!</h3>
	  </div>
	  <div class="modal-body">
	    <p>Your user profile has been updated.</p>
	  </div>
	</div><!--end #myModal-->
	<script src="/site_media/js/profile.js"></script>
{% endblock %}
