{% extends 'base.html' %}
{% load user_status %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
{% if user.is_staff %}
<h2>{{welcome_msg}}</h2>

<form method="post" action="/reports/" class="w">
    <input type="submit" value="Training Environment Report" class="btn btn-primary">
    <input type="hidden" name="report" value="training_env">
</form>

<form method="post" action="/reports/" class="w">
    <input type="submit" value="User Report" class="btn btn-primary">
    <input type="hidden" name="report" value="user_report">
</form>

<form method="post" action="/reports/" class="w">
    <input type="submit" value="Age & Gender Report" class="btn btn-primary">
    <input type="hidden" name="report" value="age_gender_report">
</form>
<p>
    {{ age_gender_report }}
</p>

<form method="post" action="/reports/" class="w">
    <input type="submit" value="Course Report" class="btn btn-primary">
    <input type="hidden" name="report" value="course_report">
</form>

<form method="post" action="/reports/" class="w">
    <input type="submit" value="Evaluation Report" class="btn btn-primary">
    <input type="hidden" name="report" value="eval_report">
</form>

{{ evaluation_report }}

{% else %}
<h2>This page is not available...</h2>
{% endif %}
{% endblock %}